// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  src: url(../assets/fonts/montserratalternates/MontserratAlternates-Medium.ttf);
}
@font-face {
    font-family: "HelveticaNeueCyr";
    font-weight: 700;
    src: url(../assets/fonts/HelveticaNeueCyr/helveticaneuecyr-bold.ttf);
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    font-weight: 300;
    src: url(../assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff);
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    font-weight: 400;
    src: url(../assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff);
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    font-weight: 550;
    src: url(../assets/fonts/HelveticaNeueCyr/helveticaneuecyr-medium.woff);
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    font-weight: 700;
    src: url(../assets/fonts/HelveticaNeueCyr/helveticaneuecyr-bold.woff);
  }

  @font-face {
    font-family: "HelveticaNeueCyr";
    font-weight: 900;
    src: url(../assets/fonts/HelveticaNeueCyr/helveticaneuecyr_black.otf);
  }

  

